/* phone */
@media screen and (min-width: 320px) and (max-width: 812px) {
    h1 {
        font-size: 1.3em;
        margin-bottom: 3em;
        text-align: center;
        font-family: "Roboto", sans-serif;
    }

    #content img {
        width: 20em;
        height: 20em;
        border-top: 1px solid green;
        border-bottom: 1px solid green;
    }

    .w3-sidebar {
        margin-left: 0em;
        font-family: "Roboto", sans-serif;
    }

    #content h4 {
    }
}


/* tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {

}



/* wider tablet */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    body {
        margin: 0 auto;
    }

    .w3-sidebar {
        margin-left: 0em;
        font-family: "Roboto", sans-serif;
    }

    #content {
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
    }

    #content img {
        height: 15em;
        width: 15em;
        border-top: 1px solid green;
        border-bottom: 1px solid green;
    }

    #content div {
        width: 10em;
        margin: 3em;
    }

    h1 {
        font-size: 1.3em;
        margin-bottom: 3em;
        text-align: center;
        font-family: "Roboto", sans-serif;
    }

    #content h4 {
        font-size: 0.9em;
        border: 1px solid red;
    }

    #section div {
        border: 1px solid red;
        text-align: center;
    }
}



/* desktop */
/* 
body {
    margin: 0 auto;
}

.w3-sidebar {
    margin-left: 0em;
    font-family: "Roboto", sans-serif;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6em;
}

#content img {
    height: 6em;
    width: 6em;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

#content div {
    width: 10em;
    height: 20em;
    margin: 3em;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h4 {
    font-size: 0.9em;
} */