@media screen and (min-width: 767px) and (max-width: 1023px) { 
    section div {
        width: 100%;
        justify-content: center;
    }
      
    h2.title {
        width: auto;
        text-align: center;
        font-family: "Roboto", sans-serif;
    }
      
    .go-back-tag {
        font-weight: 900;
        margin-left: 1.3em;
        margin-top: -3.3em;
        text-decoration: none;
        background-color: #4CAF50;
    }

    #sportcentrum-title {
        text-decoration: none;
        font-size: 1em;
        font-family: "Roboto", sans-serif;
      }
      
    h4 {
        font-weight: bold;
        text-align: center;
    }
      
    div img {
        width: 25em;
        height: 25em;
    }
      
    .title {
        width: 100%;
        justify-content: center;
    }
      
    section div {
        padding: 1em;
    }
      
    h1.h1-collection-style-text {
        font-size: 1.5em;
        margin-left: -1em;
        margin-top: -1em;
    }
      
    h4.h4-collection-style-text {
        background-color: white; 
        color: black; 
        border-radius: 10px; 
        width: 100%; 
        margin-left: -1em;
        opacity: 0.9;
    }
      
}